# Ignore files which won`t to be in container
*.md
Dockerfile
.dockerignore

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tf
*.tfstate
*.tfstate.*
*.hcl

*.git

# Exclude IaC folder
IaC/